//note i tried mat-card but didnt work so i tried to edit own class as using .mat-mdc-card
.mat-mdc-card {
    max-width: 300px;
    margin: auto;
}

.mat-mdc-card-avatar {
    background-image: url('/assets/img/tolga.png');
    background-size: cover;
}

.mat-mdc-card-actions {
    display: flex;
}

.mat-mdc-card-actions .flex-spacer {
    width: 100px;
}